@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 157 96% 9%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 121 33 66%;

		--radius: 0.5rem;

		--navBar-height: 60px;
	}
	/* styles.css */
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: scale(0.9);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	@keyframes fadeOut {
		from {
			opacity: 1;
			transform: scale(1);
		}
		to {
			opacity: 0;
			transform: scale(0.9);
		}
	}
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	.fade-enter {
		animation: fadeIn 0.3s forwards;
	}

	.fade-exit {
		animation: fadeOut 0.3s forwards;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		background: rgb(125, 241, 197);
		background: radial-gradient(
			circle,
			rgba(125, 241, 197, 1) 0%,
			rgba(255, 255, 255, 1) 100%
		);
		min-width: 280px;
	}

	.font-outline-4 {
		-webkit-text-stroke: 1px black;
	}
}
@layer components {
	.navbar-class {
		@apply container h-[var(--navBar-height)] md:h-full w-full bg-white bg-clip-padding backdrop-filter backdrop-blur-2xl bg-opacity-30  !px-2 md:!px-5 lg:sticky top-1  rounded-full z-50 shadow-sm mt-2;
	}

	/*-- default theme --*/

	/*|--> default theme background section */
	.default-theme.background {
		@apply bg-white;
	}

	/*|--> default theme avatar section */
	.default-theme.avatar {
		@apply border-4 border-white rounded-full shadow-md;
	}

	/*|--> default theme info section */
	.default-theme.user-fullName {
		@apply text-lg font-black;
	}
	.default-theme.info-div {
		@apply flex flex-col items-start;
	}
	.default-theme.info-icon {
		@apply w-4 h-4 stroke-[2px];
	}
	.default-theme.info-text {
		@apply text-base;
	}
	.default-theme.info-description {
		@apply mt-2 text-base font-semibold text-center w-[220px];
	}
	.default-theme.social-links svg {
		@apply stroke-black;
	}

	/*|--> default theme links card section */
	.default-theme.links-card {
		@apply flex flex-row gap-2 bg-white rounded-lg  w-full h-16 shadow-[0px_0px_20px_0px_#e2e8f0];
	}
	.default-theme.links-card-image {
		@apply w-20 h-16 bg-gray-400 rounded-lg;
	}
	.default-theme.links-card-icon {
		@apply w-4 h-4 stroke-black;
	}
	.default-theme.links-card-title {
		@apply text-base font-bold truncate w-[120px];
	}
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamRotate.active {
	transform: rotate(45deg);
}
.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #000;
	stroke-width: 5.5;
	stroke-linecap: round;
	@apply stroke-primary;
}

.ham4 .top {
	stroke-dasharray: 40 121;
}
.ham4 .bottom {
	stroke-dasharray: 40 121;
}
.ham4.active .top {
	stroke-dashoffset: -68px;
}
.ham4.active .bottom {
	stroke-dashoffset: -68px;
}
